# python django relate gitignore

# Django
__pycache__/
*.pyc
*.pyo
*.py.class
db.sqlite3
db.sqlite3-journal
media
static
# PyCharm
.idea

# Virtualenv
*.egg-info
htmlcov
.coverage
.venv


# node_modules
node_modules

