asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
dj-database-url==2.3.0
django==5.1.4
django-allauth==65.3.1
django-allauth-ui==1.5.3
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
django-dotenv==1.4.2
django-extensions==3.2.3
django-filter==24.3
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
packaging==24.2
psycopg2-binary==2.9.10
pycparser==2.22
pyjwt==2.10.1
python-dotenv==1.0.1
pyyaml==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
ruff==0.9.1
slippers==0.6.2
sqlparse==0.5.3
stripe==11.4.1
typeguard==2.13.3
typing-extensions==4.12.2
urllib3==2.3.0
whitenoise==6.8.2
